body {
    background: #222629;
  }
  
  
  p {
    color: white;
    text-align: center;
  }
  
  h2, h5 {
      margin-left:4%;
      font-size:200%;
  }
  .imgLogo {
    width: 80px;
    height: 50px;
    padding-right: 3%;
    text-align: center;
  }
  
  .footer {
    margin-top: 2%;
    color: white;
    opacity: 0.75;
    text-align: center;
    -webkit-letter-spacing: 0.2rem;
    -moz-letter-spacing: 0.2rem;
    -ms-letter-spacing: 0.2rem;
    letter-spacing: 0.2rem;
    font-size: 0.6rem;
    opacity: 0.75;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  .container {
      margin-top: 2%;
  }

  .carousel-control-prev, .carousel-control-next{
    width: 8%;
  }

  .carousel-item img {
      position: relative;
      background-color: #fefefe;
      padding: 0;
      width: 90%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      max-width: 1200px;
      margin-left: 13%;
      margin-top: 2%;
  }

  .btn {
    margin-left: 13%;
    margin-top: 1%;
  }